{% extends "base.html" %}
{% block content %}
<div class="container mt-3">
    <nav style="--bs-breadcrumb-divider: '-';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{%url 'content1'%}">Data-1</a></li>
          <li class="breadcrumb-item active" aria-current="page">New Data-1</li>
        </ol>
      </nav>
      {% include "partials/messages.html" %}
        <div class="card mt-3">
            <form action="{% url "add-content1" %}" method="post">
                {% csrf_token %}
            <div class="card-header fw-bold">
              Add Data
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label">Amount</label>
                    <input type="number" class="form-control" id="amountInput" name="amount" value="{{values.amount}}" >
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Description</label>
                    <input type="text" class="form-control" id="descriptionInput" name="description" value="{{values.description}}">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Source</label>
                    <select name="source" class="form-control" required>
                        <option value="" name="source" selected>Select</option>
                        {% for source in sources %}
                        <option value="{{source.name}}" name="source">{{source.name}}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Date</label>
                    <input type="date" class="form-control" value="{% now "Y-m-d" %}" id="dateInput" name="content1_date"> <!-- To pre-enter the date in form. -->
                  </div>
            </div>
            <div class="card-footer text-body-secondary text-center">
                <input type="submit" value="Submit" class="btn btn-primary"></input>
            </div>
            </form>
        </div>
      
</div>

{% endblock content %}
