{% extends "base.html" %}
{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-10">
            <nav style="--bs-breadcrumb-divider: '-';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{%url 'content'%}">Tracker</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Edit Data</li>
                </ol>
              </nav>
        </div>
        <div class="col-md-2">
            <a href="{% url 'content-delete' content.id %}" 
   class="btn" 
   style="text-decoration: none; color:#d11a1b ; padding: 1px 5px; background: none; border: 2px solid #d11a1b ; display: inline-block; transition: background-color 0.3s, color 0.3s;" 
   onmouseover="this.style.backgroundColor='#d11a1b '; this.style.color='white';" 
   onmouseout="this.style.backgroundColor='white'; this.style.color='#d11a1b ';">
   Delete Data
</a>
        </div>
    </div>
      {% include "partials/messages.html" %}
        <div class="card mt-3">
            <form action="{% url "content-edit" content.id %}" method="post">
                {% csrf_token %}
            <div class="card-header fw-bold">
              Edit Data
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label">Amount</label>
                    <input type="number" class="form-control" id="amountInput" name="amount" value="{{values.amount}}" >
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Description</label>
                    <input type="text" class="form-control" id="descriptionInput" name="description" value="{{values.description}}">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Category</label>
                    <select name="category" class="form-control" required>
                        <option value="{{values.category}}" name="category" selected>{{values.category}}</option>
                        {% for category in categories %}
                        <option value="{{category.name}}" name="category">{{category.name}}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Date</label>
                    <input type="date" class="form-control" id="dateInput" name="date">
                  </div>
            </div>
            <div class="card-footer text-body-secondary text-center">
                <input type="submit" value="Save" class="btn btn-primary"></input>
            </div>
            </form>
        </div>
      
</div>

{% endblock content %}
