{% extends "base_auth.html" %}
{% load static %}
{% block content %}
<style>
    .centered-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width:100vw;
        background-color: #f8f9fa;
    }
    .card {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: #fff;
    }
    .card-title {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }
    .form-group {
        position: relative;
        margin-bottom: 20px;
    }
    .form-group small {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #007bff;
    }
    .form-control {
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ced4da;
        width: 100%;
    }
    .submit-btn {
        margin-top: 20px;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
    }
    .submit-btn:hover {
        background-color: #0056b3;
    }
    .links {
        margin-top: 20px;
        text-align: center;
    }
    .links a {
        color: #007bff;
        text-decoration: none;
    }
    .links a:hover {
        text-decoration: underline;
    }
</style>

<div class="centered-form">
    <div class="card">
        <div class="card-title text-center">
            <h4>Password Reset</h4>
        </div>
        <div class="card-body">
            <form action="{% url 'reset-password-link' uidb64 token %}" method="post">
                {% csrf_token %}
                {% include "partials/messages.html" %}
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" id="passwordField" class="form-control" required/>
                    <small class="float-right py-3" onclick="togglePasswordVisibility()">Show</small>
                </div>
                <div class="form-group">
                    <input type="password" name="password1" placeholder="Confirm Password" id="passwordField" class="form-control" required/>
                </div>
                <input type="submit" value="Submit" class="form-control btn btn-block submit-btn"/>
            </form>
        </div>
        <div class="links">
            <span>Already have an account? </span><a href="{% url 'login' %}">Login</a><br>
            <span>Don't have an account? </span><a href="{% url 'register' %}">Register</a>
        </div>
    </div>
</div>

<script>
    function togglePasswordVisibility() {                  //Can also use eventListener here
        const passwordField = document.getElementById('passwordField');
        const smallText = document.querySelector('.form-group small');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';         //Can also use setAttribute("type","text");
            smallText.textContent = 'Hide';
        } else {
            passwordField.type = 'password';
            smallText.textContent = 'Show';
        }
    }
</script>
{% endblock content %}